/* Color Palette
01. black
02. white
03. #FF6D05 - dark orange
04. #F7A31E - orange
05. lightyellow
06. #A2F4E4 - action buttons
*/


/* Global styles
-------------------*/

html, body {
  max-width: 100%;
  background: black;
  font-family: 'Rockwell', 'Times Roman', serif;
  font-weight: italic;
  font-size: 16px;
  line-height: 200%;
  margin: 0 auto;
}
h1, h2, h3 {
    font-family: 'Montserrat','Verdana', 'sans serif';
    color: black;
}
h1 {
  font-weight: oblique;
  font-size: 40px;
  text-shadow: 1px 1px 4px #1B1464;
  padding: 10px;
  margin-bottom: 40px;
  display: inline;
  color: white;
}
.main-heading {
  color: white;
  font-size: 60px;
  position: absolute;
  top: 2px;
  left: 170px;

}
.company {
  color: white;
  font-size: 35px;
  position: absolute;
  top: 100px;
  left: 170px;
}
h2 {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  line-height: 150%;
  padding: 10px;
  text-shadow: 1px 1px 4px #1B1464;
  position: relative;
  left: 30px;
}
h3 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.news {
  position: absolute;
  top: 910px;
  left: 900px;
}
.container_1  {
  display : flex;
  width: 100%;
}
.container_2 {
  display: flex;
  width: 100%;
}
.col3 {
  width: 100%;
  float: left;
  background-color: white;
  height: 480px;
  margin-bottom: 5px;
}
.col1, .col2, .col3 {
  flex: 1;
}
.col1, .col2 {
  background-color: white;
  height: 540px;
  margin-bottom: 10px;
}
.col1 {
  float: left;
  margin-bottom: 10px;
  margin-right: 45px;
}
.col2 {
  float: right;
}
button {
  width: 230px;
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: #FF6D05;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
}

/* Action button on index page */
a.action {
  display: inline-block;
  width: 230px;
  text-align: center;
  font-size: 20px;
  color: black;
  background-color: #A2F4E4;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
  border: 2px solid black;
}
.action {
  position: absolute;
  top: 1300px;
  left: 950px;
}
.location {
  margin: 0 auto;
}
.visit {
  color: black;
  font-family: 'Rockwell', 'Times Roman', serif;
  padding: 20px;
  text-align: center;
  background-color: #F7A31E;
}
.map {
  color: black;
  visibility: visible;
  display: block;
  width: 20%;
  margin-bottom: 5px;
}
.care {
  background-color: white;
}
li a {
  margin-right: 150px;
  text-decoration: none;
  color: white;
  font-family: 'Rockwell', 'Times Roman', serif;
  font-size: 1,5em;
  font-weight: bold;
  display: inline;
}
li {
  display: inline;
}
main ul li {
  display: block;
  text-align: center;
}
.ready {
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
}
.shoe1 {
  color: black;
  padding: 10px;
  width: 350px;
  height: 420px;
  background-color: white;
  float: right;
  margin-bottom: 10px;
}
.shoe2 {
  background-color: white;
  float: right;
  width: 350px;
  height: 430px;
  padding: 16px;
  margin-bottom: 5px;

}
.shoe3 {
  background-color: white;
  float: right;
  width: 350px;
  height: 380px;
  padding: 15px;
  margin-bottom: 5px;
}
.shoe4 {
  background-color: white;
  float: right;
  width: 350px;
  height: 350px;
  padding: 15px;
  margin-bottom: 5px;
}
.shoe5 {
  background-color: white;
  width: 350px;
  height: 380px;
  padding: 15px;
  margin-bottom: 5px;
  float: right;
}
.col1_about {
  float: left;
  width: 60%;
  height: 1090px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
}
.col2_about {
  float: right;
  width: 25%;
  height: 998px;
  padding: 5%;
  margin-top: 5px;
  background-color: white;
}
.heading_times {
  font-family: 'Rockwell', 'Times Roman', serif;
  font-size: 25px;
}

/* The search button on index page */
.search {
  position: relative;
  top: 5px;
  left: 1000px;
  padding: 20px;
  font-size: 20px;
  font-family: 'Rockwell', 'Times Roman', serif;
  border-radius: 6px;
  background-color: #FF6D05;
  width: 150px;
  height: 50px;
  display: inline-block;
}
/* The search button on the shoe care page */
.search_product {
  margin-top: 60px;
  margin-bottom: 50px;
  padding: 20px;
  font-size: 30px;
  font-family: 'Rockwell', 'Times Roman', serif;
  border-radius: 6px;
  background-color: #FF6D05;
  width: 300px;
  height: 55px;
  float: right;
}
.products {
  color: white;
  float: left;
}
.col1_contact {
  background-color: white;
  padding: 10px;
}

/* Header and Footer
-------------------*/

/*header*/
header  {
  background-color: #FF6D05;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 110px;
  z-index: 1;
  border-radius: 6px;
  margin: 0 auto;
}
footer  {
  background: white;
  padding: 10px;
  width: 100%;
  max-width: 1260px;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  clear: both;
}
footer p a {
    color: #FF6D05;
    text-decoration: none;
    font-family: 'Rockwell', 'Times Roman', serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-left: 400px;
}
footer p a:visited {
  color: black;
}
footer p a:hover {
  color: black;
}

/*  Nav -bar  */
.navbar {
  overflow: hidden;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: #F7A31E;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background: white;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: #F7A31E;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn .dropbtn:focus {
  background-color: lightyellow;
  font-size: 20px;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 30%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: lightyellow;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content
container when the user clicks on the dropdown button) */
.show {
  display: block;
}


/* Images
-------------------*/
.news_urbana {
  width: 50%;
  padding: 40px;
  border-radius: 50%;
  position: absolute;
  top: 900px;
  left: 10px;
}
.urbana {
  width: 60%;
  padding: 5px;
  float: left;
  margin-top: 15px;
}
.hiker {
  width: 60%;
  padding: 5px;
  float: left;
  margin-top: 15px;
}
.brogue {
  width: 60%;
  padding: 5px;
  float: left;
  margin-top: 5px;
}
.easy {
  width: 60%;
  padding: 5px;
  float: left;
  margin-top: 15px;
}
.casual {
  width: 60%;
  padding: 5px;
  float: left;
  margin-top: 5px;
}
.menu {
  display: none;
}

/* Form styles */
.heading_form {
  text-align: center;
  margin-top: 30px;
  font-size: 60px;
}
.form {
  text-align: center;
}
#contact {
  background-color: #F7A31E;
  padding: 10px;
}
fieldset {
  width: 80%;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px;
  text-align: left;
  margin-top: 40px;
}
legend {
  background-color: #F7A31E;
  color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: left;
  text-transform: uppercase;
}
label {
  color: black;
}
input {
  border: 2px white;
}
.form-error {
    color: red;
    display: none;
}

/* The submit button on the form page */
input[type="submit"] {
  width: 300px;
  text-align: center;
  font-size: 20px;
  color: #FF6D05;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 5px;
  margin-left: 80px;
  border-style: outset;
  border: 5px solid #FF6D05;
  border-radius: 6px;
}
input[type="submit"]:hover {
  color: black;
}
input[type="submit"]:active {
  color: #FF6D05;
  border: 5px solid black;
}
textarea {
  width: 420px;
  height: 180px;
  border: 2px solid black;
}
.message {
    margin-top: 50px;
    width: 100%;
    height: 50%;
    text-transform: uppercase;
    font-family: 'Rockwell', 'Times Roman', serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
}


/* Media Queries
-------------------*/

/*mobile styles*/
@media only screen and (max-width: 480px) {
  .container_1, .container_2 {
    flex-direction: column;
  }
  body {
    width: 100%;
  }
  header {
    height: 55px;
    width: 90%;
  }
  .menu {
    display: block;
    width: 15%;
    color: white;
    position: absolute;
    top: 5px;
    left: 340px;
  }
  .main-heading {
    position: relative;
    top: 5px;
    left: 5px;
    font-size: 40px;
  }
  .company {
    position: absolute;
    top: 45px;
    left: 15px;
    font-size: 20px;
  }
  .search {
    display: none;
  }
  .navbar {
    display: none;
  }
  .col1, .col2 {
    width: 100%;
  }
  .col1 {
    order: 1;
  }
  .col2 {
    order: 2;
  }
  .col3 {
    width: 100%;
    order: 3;
  }
  .news_urbana {
    width: 70%;
    padding: 20px;
    border-radius: 60%;
  }
/* Proceed to checkout button */

}

/*tablet styles*/
@media only screen and (min-width: 481px) and (max-width: 768px) {


}

/*desktop styles*/
@media only screen and (min-width:769px) {
  html, body {
    max-width: 100%;
  }
  header  {
    background-color: #FF6D05;
    padding: 25px;
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 1260px;
    z-index: 1;
    border-radius: 6px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 5px;
  }
  .main-heading {
    font-size: 60px;
    position: absolute;
    top: 2px;
    left: 170px;
  }
  .company {
    color: white;
    font-size: 35px;
    position: absolute;
    top: 60px;
    left: 170px;
  }
  .search {
    display: inline-block;
  }
  .col1, .col2 {
      flex: 1;
  }
  .col1 {
    float: left;
    margin-bottom: 10px;
    margin-right: 25px;
  }
  .col2 {
    float: right;
    margin-bottom: 10px;
  }
  .col3 {
    width: 100%;
  }
  .news_urbana {
    width: 50%;
    padding: 40px;
    border-radius: 50%;
  }

/*  Nav -bar  */
.navbar {
  display: block;
}

/* Dropdown Content (Hidden by Default) */


/* Change color of dropdown links on hover */


/* Show the dropdown menu (use JS to add this class to the .dropdown-content
container when the user clicks on the dropdown button) */


/* Images
-------------------*/
.menu {
  display: none;
}

}
