/*Color Palette
01. black
02. white
03. #FF6D05 - dark orange
04. #F7A31E - orange
05. lightyellow
*/


/* Global styles
-------------------*/

html, body {
  max-width: 1024px;
  background: black;
  font-family: 'Rockwell', 'Times Roman', serif;
  font-weight: italic;
  font-size: 16px;
  line-height: 200%;
  margin: 0 auto;
}
h1, h2, h3 {
    font-family: 'Montserrat','Verdana', 'sans serif';
    color: black;
}
h1 {
  font-weight: oblique;
  font-size: 40px;
  text-shadow: 1px 1px 4px #1B1464;
  padding: 10px;
  margin-bottom: 40px;
  display: inline;
  color: white;
}
.main-heading {
  color: white;
  margin-top: 10px;
  text-align: center;
}
.company {
  color: white;
}
h2 {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  line-height: 150%;
  padding: 10px;
  text-shadow: 1px 1px 4px #1B1464;
  position: relative;
  left: 30px;
}
h3 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.news {
  text-align: center;
}
article {
  float: left;
  width: 600px;
}
aside {
  float: right;
  width: 410px;
  background-color: white;
  height: 480px;
  margin-bottom: 5px;
}
.col1 {
  background-color: white;
  height: 540px;
  float: left;
  padding: 10px;
  width: 270px;
  margin-bottom: 10px;
}
.col2 {
  background-color: white;
  height: 540px;
  float: right;
  padding: 10px;
  width: 270px;
  margin-bottom: 10px;
}
button {
  width: 230px;
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: #FF6D05;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
}

/* Action button on index page */
a.action {
  display: inline-block;
  width: 230px;
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: #FF6D05;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
}

.location {
  margin: 0 auto;
}
.visit {
  color: black;
  font-family: 'Rockwell', 'Times Roman', serif;
  padding: 20px;
  text-align: center;
  background-color: #F7A31E;
}
.map {
  color: black;
  visibility: visible;
  display: block;
  width: 20%;
  margin-bottom: 5px;
}
.care {
  background-color: white;
}
li a {
  margin-right: 150px;
  text-decoration: none;
  color: white;
  font-family: 'Rockwell', 'Times Roman', serif;
  font-size: 1,5em;
  font-weight: bold;
  display: inline;
}
li {
  display: inline;
}
main ul li {
  display: block;
  text-align: center;
}
.ready {
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
}
.shoe1 {
  color: black;
  padding: 10px;
  width: 350px;
  height: 420px;
  background-color: white;
  float: right;
  margin-bottom: 10px;
}
.shoe2 {
  background-color: white;
  float: right;
  width: 350px;
  height: 430px;
  padding: 16px;
  margin-bottom: 5px;

}
.shoe3 {
  background-color: white;
  float: right;
  width: 350px;
  height: 380px;
  padding: 15px;
  margin-bottom: 5px;
}
.shoe4 {
  background-color: white;
  float: right;
  width: 350px;
  height: 350px;
  padding: 15px;
  margin-bottom: 5px;
}
.shoe5 {
  background-color: white;
  width: 350px;
  height: 380px;
  padding: 15px;
  margin-bottom: 5px;
  float: right;
}
.col-1 {
  float: left;
  width: 60%;
  height: 1090px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
}
.col-2 {
  float: right;
  width: 25%;
  height: 998px;
  padding: 5%;
  margin-top: 5px;
  background-color: white;
}
.heading_times {
  font-family: 'Rockwell', 'Times Roman', serif;
  font-size: 25px;
}

/* The search button on index page */
.search {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 200px;
  padding: 20px;
  font-size: 30px;
  font-family: 'Rockwell', 'Times Roman', serif;
  border-radius: 6px;
  background-color: #FF6D05;
  width: 150px;
  float: right;
  height: 50px;
}
/* The search button on the shoe care page */
.search_product {
  margin-top: 60px;
  margin-bottom: 50px;
  padding: 20px;
  font-size: 30px;
  font-family: 'Rockwell', 'Times Roman', serif;
  border-radius: 6px;
  background-color: #FF6D05;
  width: 300px;
  height: 55px;
  float: right;
}
.products {
  color: white;
  float: left;
}
.col1_contact {
  background-color: white;
  padding: 10px;
}

/* Header and Footer
-------------------*/

/*header*/
header  {
  background: white;
  padding: 25px;
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 1260px;
  z-index: 1;
  border-radius: 6px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 5px;
}
footer  {
  background: white;
  padding: 10px;
  width: 100%;
  max-width: 1260px;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  clear: both;
}
footer p a {
    color: #FF6D05;
    text-decoration: none;
    font-family: 'Rockwell', 'Times Roman', serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-left: 400px;
}
footer p a:visited {
  color: black;
}
footer p a:hover {
  color: black;
}

/*  Nav -bar  */
.navbar {
  overflow: hidden;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: #F7A31E;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: #F7A31E;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn .dropbtn:focus {
  background-color: lightyellow;
  font-size: 20px;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: block;
  position: absolute;
  background-color: white;
  min-width: 30%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: lightyellow;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content
container when the user clicks on the dropdown button) */
.show {
  display: block;
}


/* Images
-------------------*/

.news_urbana {
  width: 70%;
  padding: 40px;
  border-radius: 50%;
}
.urbana {
  width: 60%;
  padding: 5px;
  float: left;
  margin-top: 15px;
}
.hiker {
  width: 60%;
  padding: 5px;
  float: left;
  margin-top: 15px;
}
.brogue {
  width: 60%;
  padding: 5px;
  float: left;
  margin-top: 5px;
}
.easy {
  width: 60%;
  padding: 5px;
  float: left;
  margin-top: 15px;
}
.casual {
  width: 60%;
  padding: 5px;
  float: left;
  margin-top: 5px;
}

/* Form styles */
.heading_form {
  text-align: center;
  margin-top: 30px;
  font-size: 60px;
}
.form {
  text-align: center;
}
#contact {
  background-color: #F7A31E;
  padding: 10px;
}
fieldset {
  width: 80%;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px;
  text-align: left;
  margin-top: 40px;
}
legend {
  background-color: #F7A31E;
  color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: left;
  text-transform: uppercase;
}
label {
  color: black;
}
input {
  border: 2px white;
}
.form-error {
    color: red;
    display: none;
}

/* The submit button on the form page */
input[type="submit"] {
  width: 300px;
  text-align: center;
  font-size: 20px;
  color: #FF6D05;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 5px;
  margin-left: 80px;
  border-style: outset;
  border: 5px solid #FF6D05;
  border-radius: 6px;
}
input[type="submit"]:hover {
  color: black;
}
input[type="submit"]:active {
  color: #FF6D05;
  border: 5px solid black;
}
textarea {
  width: 420px;
  height: 180px;
  border: 2px solid black;
}
.message {
    margin-top: 50px;
    width: 100%;
    height: 50%;
    text-transform: uppercase;
    font-family: 'Rockwell', 'Times Roman', serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
}


/* Media Queries
-------------------*/

/*mobile styles*/
@media only screen and (max-width: 480px) {
body {
  background-color: black;
}
h1 {
  font-family: 'Montserrat','Verdana', 'sans serif';
  font-weight: oblique;
  font-size: 50px;
  text-align: center;
  color: white;
  margin-left: 30px;
}
h2, h3 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 150%;
  padding: 10px;
  color: white;
  text-shadow: 1px 1px 4px #1B1464;
  position: relative;
  left: 30px;
  margin-top: 40px;
}
.our-products {
  padding: 20px;
  font-size: 30px;
  font-family: 'Montserrat','Verdana', 'sans serif';
  font-weight: bold;
  text-align: center;
  line-height: 150%;
  color: white;
  position: relative;
  left: 10px;
  margin-top: 40px;
}
.search_product {
  color: #FF6D05;
}
header  {
  background: white;
  padding: 25px;
  position: sticky;
  top: 0;
  width: 90%;
  max-width: 1260px;
  z-index: 1;
  border-radius: 6px;
  margin-top: 1px;
  margin-bottom: 50px;
  margin-left: 2px;
  margin-right: 80px;
}
li a {
  margin-right: 64px;
  float: right;
  text-decoration: none;
  color: white;
  font-family: 'Rockwell', 'Times Roman', serif;
  font-size: 1,5em;
  font-weight: bold;
}
li {
  display: block;
}
main ul li {
  display: block;
  text-align: center;
  color: white;
}
fieldset {
  width: 100%;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  text-align: right;
  margin-top: 30px;
}
legend {
  background-color: #1B1464;
  color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: left;
  text-transform: uppercase;
}

/* Proceed to checkout button */
input[type="submit"] {
  width: 300px;
  text-align: center;
  font-size: 20px;
  color: #1B1464;
  cursor: pointer;
  padding: 20px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 45px;
  border-style: outset;
  border: 5px solid #F7A31E;
  border-radius: 6px;
}
input[type="booking"] {
  width: 140px;
  text-align: center;
  font-size: 20px;
  color: #1B1464;
  cursor: pointer;
  padding: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 100px;
  border-style: outset;
  border: 5px solid white;
  border-radius: 6px;
}
.message {
  margin-top: 40px;
  width: 100%;
  height: 50%;
}
.col-1 {
  width: 100%;
}
.col-2 {
  width: 90%;
  margin-right: 30px;
}
.search {
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: 30px;
  padding: 30px;
  font-size: 30px;
  font-family: 'Rockwell', 'Times Roman', serif;
  text-align: center;
  border-radius: 6px;
  color: lightyellow;
}
.new_urbana {
  width: 30%;
}
.urbana {
  width: 30%;
}
.hiker {
  width: 30%;
}
.brogue {
  width: 30%;
}
.easy {
  width: 30%;
}
.casual {
  width: 30%;
}
footer  {
  background: white;
  padding: 10px;
  width: 95%;
  border-radius: 6px;
  margin-top: 20px;
  clear: both;
}
footer p a {
    color: #F7A31E;
    text-decoration: none;
    font-family: 'Rockwell', 'Times Roman', serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin: 120px;
}
}

/*tablet styles*/
@media only screeen and (max-width: 768px) {
  body {
    background-color: black;
}
.urbana {
  width: 40%;
}
.hiker {
  width: 40%;
}
.brogue {
  width: 40%;
}
.easy {
  width: 40%;
}
.casual {
  width: 40%;
}
}

/*desktop styles*/
@media only screen and (max-width:1024px) {
  body {
    background-color: black;
}
h1 {
  font-family: 'Montserrat','Verdana', 'sans serif';
  font-weight: oblique;
  font-size: 80px;
  text-align: center;
  color: white;
  padding: 10px;
  display: block;
}
.main-heading {
  color: white;
  margin-top: 10px;
  text-align: center;
}
header  {
  background: white;
  padding: 25px;
  position: sticky;
  top: 0;
  width: 90%;
  max-width: 1260px;
  z-index: 1;
  border-radius: 6px;
  margin-top: 5px;
  margin-bottom: 20px;
}
h3 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.news {
  text-align: center;
  margin: 0 auto;
}
article {
  float: left;
  width: 600px;
}
aside {
  float: right;
  width: 410px;
  height: 450px;
  background-color: white;
}
.col1 {
  background-color: white;
  height: 540px;
  float: left;
  padding: 10px;
  width: 270px;
  margin-bottom: 10px;
}
.col2 {
  background-color: white;
  height: 540px;
  float: right;
  padding: 10px;
  width: 270px;
  margin-bottom: 10px;
}
.col-1 {
  float: left;
  width: 60%;
  height: 1090px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
}
.col-2 {
  float: right;
  width: 25%;
  height: 998px;
  padding: 5%;
  margin-top: 5px;
  background-color: white;
}
.heading_times {
  font-family: 'Rockwell', 'Times Roman', serif;
  font-size: 25px;
}
.shoe1 {
  color: black;
  padding: 10px;
  width: 350px;
  height: 420px;
  background-color: white;
  float: right;
  margin-bottom: 10px;
}
.shoe2 {
  background-color: white;
  float: right;
  width: 350px;
  height: 430px;
  padding: 16px;
  margin-bottom: 5px;
}
.shoe3 {
  background-color: white;
  float: right;
  width: 350px;
  height: 380px;
}
.shoe4 {
  background-color: white;
  float: right;
  width: 350px;
  height: 350px;
  padding: 5px;
}
.shoe5 {
  background-color: white;
  width: 350px;
  height: 380px;
  margin-bottom: 5px;
  float: right;
  padding: 15px;
}
button {
  width: 230px;
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: #FF6D05;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
}

/*  Nav -bar  */
.navbar {
  overflow: hidden;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: #F7A31E;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: #F7A31E;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn .dropbtn:focus {
  background-color: lightyellow;
  font-size: 20px;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: block;
  position: absolute;
  background-color: white;
  min-width: 30%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: lightyellow;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content
container when the user clicks on the dropdown button) */
.show {
  display: block;
}
li {
  display: inline;
  margin-left: 30px;
}
li a {
  margin-right: 85px;
  text-decoration: none;
  color: white;
  font-family: 'Rockwell', 'Times Roman', serif;
  font-size: 1,5em;
  font-weight: bold;
}
main ul li {
  display: block;
  text-align: center;
}

/* Images
-------------------*/
.news_urbana {
  width: 70%;
  padding: 40px;
  border-radius: 50%;
}
.urbana {
  width: 60%;
  padding: 5px;
  float: left;
  margin-top: 15px;
}
.hiker {
  width: 60%;
  padding: 5px;
  float: left;
  margin-top: 15px;
}
.brogue {
  width: 60%;
  padding: 5px;
  float: left;
  margin-top: 5px;
}
.easy {
  width: 60%;
  padding: 5px;
  float: left;
  margin-top: 15px;
}
.casual {
  width: 60%;
  padding: 5px;
  float: left;
  margin-top: 5px;
}
footer  {
  background: white;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  margin-top: 20px;
  clear: both;
}
footer p a {
    color: #FF6D05;
    text-decoration: none;
    font-family: 'Rockwell', 'Times Roman', serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-left: 400px;
}
.form-error {
    color: red;
    display: none;
}
}
